<header>
  <img id="bl-logo" src="/assets/images/blogger.png" alt="Burger Logger Logo">
</header>

<main>
  <section id="cooking-section">
    <h2>Get cooking!</h2>
    <form class="burger-form">

      <div class="form-group">
        <label for="burger-name">What is the name of the burger</label><br>
        <input type="text" id="burger-name" name="name">
        <button type="submit">Cook!</button>
      </div>
    </form>
  </section>
  
  <section>
    <h2>Burgers on the menu</h2>
    <ul>
      {{#each burgers}}
        {{#unless eaten}}
          {{> menu/burger-block eaten=false}}
        {{/unless}}
      {{/each}}
    </ul>
  </section>

  <section>
    <h2>Burgers enjoyed</h2>
    <ul>
      {{#each burgers}}
        {{#if eaten}}
          {{> menu/burger-block eaten=true}}
        {{/if}}
      {{/each}}
    </ul>
  </section>
</main>
