*, html, body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

section {
  width: 30%;
}

h1 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem; 
}